<div class="darkTheme">
    <h1>Same</h1>
    <button class="taskButton" (click)="task()">Task</button>
    <button class="countButton" (click)="getSameCount()"> Count People Same title</button>
    <button (click)="getEmails()">People Emails same title </button>
    <div>
      <table *ngIf="sameCount.length > 0" class="sameCountTable">
        <thead>
          <tr>
            <th class='count'>Number of titles</th>
            <th class='count'>Title</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of sameCount; let i = index">
            <td class='justified'>{{ item['Number of titles'] }}</td>
            <td class='justified'>{{ item.title }}</td>
          </tr>
        </tbody>
      </table>
  
      <table *ngIf="emailsc.length > 0" class="emailscTable">
        <thead>
          <tr>
            <th>Emails</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of emailsc; let i = index">
            <tr>
              <td>{{ item.emails[0] }}</td>
              <td>{{ item.title }}</td>
            </tr>
            <tr *ngFor="let email of item.emails.slice(1); let j = index">
              <td class='justified'>{{ email }}</td>
              <td class='justified'></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  