<div class="darkTheme">
  <h1>Change Password, {{ user }}, ID: {{ id }}!</h1>
  <button (click)="handleHome()">Home</button>
  <br /><br />
  <form [formGroup]="changepasswordForm" (submit)="handleSubmit()">
    <h3>New Password</h3>
    <input
      type="password"
      formControlName="password"
      placeholder="New Password"
    />

    <!-- Mostrar la condición de validación de la contraseña -->
    <p *ngIf="error" class="errorMessage">{{ error }}</p>

    <h3>Confirm New Password</h3>
    <input
      type="password"
      formControlName="same_password"
      placeholder="Validation Password"
    />
    <h3>Email</h3>
    <input type="text" formControlName="email" placeholder="Email" readonly />
    <br /><br />
    <button type="submit" class="modify">Update</button>
  </form>
</div>
